<div class="container">
  <h1>DLL Reviews Page</h1>
  <h2>View Existing Reviews</h2>
  <table class="table">
    <% @reviews.each  do |review| %>
    <% id = review["id"] %>
    <tr>
      <td><a href="/reviews/<%= id %>.html"><%= id %></a></td>
      <td><a href="/reviews/<%= id %>.json">JSON</a></td>

      <td><%= review["date"] %></td>
      <td><%= review["review-society"] %></td>
      <% if @authorized %>
        <td><a href="/reviews/<%= review["id"] %>/delete">Delete</a></td>
      <% end %>
    </tr>
    <% end %>
  </table>
  <div>
    <p><a href="/reviews/create">Create a New Review</a></p>
  </div>
</div>
