<% @documents.each do |document| %>
<div class="container">
  <h1>Review <a href="/<%= document['@id']%>.html"><%= document["@id"] %></a></h1>
  <table class="table">
    <tr>
      <td>Review Society</td>
      <td><%= document["review-society"] %></td>
    </tr>
    <tr>
      <td>Imprimatur</td>
      <td><img src="<%= document['badge-url'] %>"/> <a href="<%= document['badge-rubric'] %>"<span class="glyphicon glyphicon-info-sign"></span></a></p> </td>
    </tr>
    <tr>
      <td>Date</td>
      <td><%= document["date"] %></td>
    </tr>
    <tr>
      <td>Review Summary</td>
      <td><%= document["review-summary"] %></td>
    </tr>
    <tr>
      <td>Shasum</td>
      <td>
        <% document["sha-256"].each do |shasum| %>
          <%= shasum %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>Document IPFS Hash </td>
      <td>
        <% document["ipfs-hash"].each do |hash| %>
          <a href="<%= @gateway %>/ipfs/<%= hash %>"><%= hash %></a>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>Certificate IPFS Hash </td>
      <td><a href="<%= @gateway %>/ipfs/<%= document['cert-ipfs-hash'] %>"><%= document["cert-ipfs-hash"] %></a></td>
    </tr>
    <tr>
      <td>Clear Signed Certificate </td>
      <td><a href="<%= @gateway %>/ipfs/<%= document['clearsigned-hash'] %>"><%= document["clearsigned-hash"] %></a></td>
    </tr>
    <tr>
      <td>Certificate Signature </td>
      <td><a href="<%= @gateway %>/ipfs/<%= document['detach-sig-hash'] %>"><%= document["detach-sig-hash"] %></a></td>
    </tr>
    <tr>
      <td>Submitted URL</td>
      <td>
        <% document["submitted-url"].each do |url| %>
          <a href="<%= url %>"><%= url %></a>
        <% end %>

      </td>
    </tr>
    <tr>
      <td>Submitted by</td>
      <td><%= document["submitted-by"] %></td>
    </tr>
    <tr>
      <td>Perform Verification?</td>
      <td>
        <a href="/verify_result?certificate_url=<%= @gateway %>/ipfs/<%= document['cert-ipfs-hash'] %>&signature_url=<%= @gateway %>/ipfs/<%= document['detach-sig-hash'] %>">Detatched Sig Check</a>
        <a href="/verify_result?clearsigned_url=<%= @gateway %>/ipfs/<%= document['clearsigned-hash'] %>">Clear Signed Sig Check</a>
      </td>
    </tr>


  </table>
</div>
<% end %>
<!--
"origin-source": {
"git-commit": "18183asdfasdjff13rwq",
"github-url": "http://github.com/scta-text/18183asdfasdjff13rwq/pg-b1q1",
"shasum": "b0342403c01e169116465168f7c97eea811e97dc",
"version-number": "1.0.0"
},
"dll-source": {
"git-commit": "18183asdfasdjff13rwq",
"git-url": "http://github.com/scta-text/18183asdfasdjff13rwq/pg-b1q1",
"shasum": "b0342403c01e169116465168f7c97eea811e97dc",
"version-number": "1.0.0" -->
