<div class="container">
  <h1>Review <%= @id %></h1>
  <table class="table">
    <tr>
      <td>Review Society</td>
      <td><%= @document["review-society"] %></td>
    </tr>
    <tr>
      <td>Imprimatur</td>
      <td><img src="<%= @document['badge-url'] %>"/> <a href="<%= @document['badge-rubric'] %>"<span class="glyphicon glyphicon-info-sign"></span></a></p> </td>
    </tr>
    <tr>
      <td>Date</td>
      <td><%= @document["date"] %></td>
    </tr>
    <tr>
      <td>Review Summary</td>
      <td><%= @document["review-summary"] %></td>
    </tr>
    <tr>
      <td>Shasum</td>
      <td><%= @document["sha-256"] %></td>
    </tr>
    <tr>
      <td>IPFS Hash </td>
      <td><a href="https://gateway.ipfs.io/ipfs/<%= @document['ipfs-hash'] %>"><%= @document["ipfs-hash"] %></a></td>
    </tr>
    <tr>
      <td>Submitted URL</td>
      <td><a href="<%= @document['submitted-url'] %>"><%= @document["submitted-url"] %></a></td>
    </tr>
    <tr>
      <td>Submitted by</td>
      <td><%= @document["submitted-by"] %></td>
    </tr>


  </table>
</div>
<!--
"origin-source": {
"git-commit": "18183asdfasdjff13rwq",
"github-url": "http://github.com/scta-text/18183asdfasdjff13rwq/pg-b1q1",
"shasum": "b0342403c01e169116465168f7c97eea811e97dc",
"version-number": "1.0.0"
},
"dll-source": {
"git-commit": "18183asdfasdjff13rwq",
"git-url": "http://github.com/scta-text/18183asdfasdjff13rwq/pg-b1q1",
"shasum": "b0342403c01e169116465168f7c97eea811e97dc",
"version-number": "1.0.0" -->
